%header.page_header
  %h1
    Surcharges
    %small= @carrier.suffixed_name

  %ul.page_actions
    %li
      = link_to("← All carriers", companies_surcharges_path)
    %li
      = link_to("Add new charge", new_companies_carrier_surcharge_path(@carrier), class: "primary-btn")

.padded
  Set the overall charges that apply to all your products. You can also override them in specific products.

= form_tag bulk_update_companies_carrier_surcharges_path(@carrier), method: :patch, class: "surcharges_table__form" do
  %table.surcharges_table
    %tbody
      - @carrier.list_all_surcharges.each_with_index do |surcharge, index|
        = fields_for "bulk_update[surcharges]", surcharge, index: index do |surcharge_fields|
          %tr
            %td.surcharges_table__toggle_switch_cell
              = surcharge_fields.hidden_field :id
              = surcharge_fields.hidden_field :predefined_type
              = surcharge_fields.hidden_field :description if surcharge_fields.object.new_record?

              %label.toggle-switch
                = surcharge_fields.check_box :enabled
                %span.toggle-switch-slider
            %td.surcharges_table__name_cell
              - if surcharge_fields.object.surcharge.default_surcharge?
                = surcharge_fields.object.description
              - else
                %em= surcharge_fields.object.description

              - if surcharge_fields.object.surcharge.carrier_feedback_surcharge?
                %span{ title: "Applied once updates are received from carrier." } ℹ
            %td.surcharges_table__value_cell
              = surcharge_fields.text_field :charge_value, class: "cf_input surcharges_table__value_input"
              = surcharge_fields.select :calculation_method, Surcharge.calculation_method_options, {}, { class: "cf_input surcharges_table__value_type_input", disabled: surcharge_fields.object.surcharge.calculated_method_locked_to.present? }

  %ul.actions
    %li.primary= submit_tag "Save"

%table
  %thead
    %tr
      %th{ width: "30%" } Carrier product
      - @view_model.enabled_surcharges.each do |surcharge|
        %th= surcharge.description
      %th
  %tbody
    - @view_model.carrier_product_surcharge_rows.each do |row|
      %tr
        %td
          = suffixed_name(name: row.carrier_product.name, company: row.carrier_product.owner_carrier_product.company)
        - row.surcharge_columns.each do |surcharge_column|
          %td
            - if surcharge_column.surcharge_on_product
              - if surcharge_column.surcharge_on_product.enabled?
                %strong= surcharge_column.surcharge_on_product.formatted_value
              - else
                \-
            - else
              = surcharge_column.surcharge_on_carrier.formatted_value
        %td
          = link_to "Edit", companies_carrier_product_surcharges_path(row.carrier_product)
