%tr
  %td.state{ :class => data.state }
    %span= ViewHelper::ShipmentRequests.state_name(data.state)

  %td.id
    = link_to(data.shipment.unique_shipment_id, companies_shipment_request_path(data))
  %td.date
    = data.shipment.shipping_date
  %td
    = "#{data.shipment.sender.company_name},"
    %br/
    = data.shipment.sender.country_name
  %td
    = "#{data.shipment.recipient.company_name},"
    %br/
    = data.shipment.recipient.country_name
  %td
    = suffixed_name(name: data.shipment.carrier_product.name, company: data.shipment.company)

- if data.shipment.description.present?
  %tr.description
    %td{ :colspan => '7' }= data.shipment.description
