%header.page_header
  %h1
    = @carrier_product.name
    %small Credentials

= simple_form_for(:product, url: companies_carrier_product_credential_path(@view_model.product), method: :put, data: { behavior: "auto_focus_first" }) do |f|

  - if @view_model.test_fields
    %h2 Live
  - @view_model.live_fields.each do |field|
    = f.input field[:key], field[:options]

  - if @view_model.test_fields
    %h2 Test
    - @view_model.test_fields.each do |field|
      = f.input field[:key], field[:options]

  %ul.actions
    %li
      = link_to("Cancel", companies_carrier_path(@view_model.carrier))
    %li.primary
      = submit_tag("Save")
