.scope_inputs
  = form.input :customer_id, as: :customer_autocomplete_select, placeholder: "Filter customers", label: false, input_html: { name: CargofluxConstants::Filter::CUSTOMER_ID, data: { :"allow-clear" => "true", :width => "300px" } }
  = form.input :carrier_id, as: :carrier_autocomplete_select, label: false, input_html: { name: "filter_carrier_id", id: nil, placeholder: "All carriers", data: { :"allow-clear" => true, :width => "300px" } }
  = form.input :shipping_start_date, label: false, placeholder: "Start date", required: false, input_html: { class: "range-input", name: CargofluxConstants::Filter::RANGE_START, id: "scope_filter_range_start", autocomplete: "off" }
  = form.input :shipping_end_date, label: false, placeholder: "End date", required: false, input_html: { class: "range-input", name: CargofluxConstants::Filter::RANGE_END, id: "scope_filter_range_end", autocomplete: "off" }

.scope_inputs
  = form.input :grouping, collection: form.object.grouping_options, label: false, input_html: { name: "grouping" }, include_blank: false
  = form.input :sorting, collection: form.object.sorting_options, label: false, input_html: { name: "sorting" }, include_blank: false
  = form.input :customer_type, collection: form.object.customer_type_options, label: false, input_html: { name: CargofluxConstants::Filter::CUSTOMER_TYPE }, include_blank: form.object.customer_type_blank_option
  = form.input :state, collection: form.object.state_options, label: false, input_html: { name: CargofluxConstants::Filter::STATE }, include_blank: form.object.state_blank_option
  = form.input :related_company_id, collection: form.object.related_company_options, label: false, input_html: { name: CargofluxConstants::Filter::COMPANY_ID }, include_blank: form.object.related_company_blank_option
