%header.page_header
  %h1
    Edit rules
    %small= @carrier_product.name

= render "description_text"

= form_for @carrier_product_rule, url: companies_carrier_product_rule_path(@carrier_product, @carrier_product_rule), method: :patch do |form|
  = render "form_fields", form: form

%hr.dashed-separator

.destroy_btn_container
  = link_to "Delete this rule", companies_carrier_product_rule_path(@carrier_product, @carrier_product_rule), method: :delete, data: { confirm: "Are you sure?" }, class: "destroy_btn"
