.page_header
  %h1= @customer.name

  %ul.page_actions
    %li= link_to "Add user", new_companies_customer_user_path(params[:customer_id]), class: "primary-btn"

= render "companies/customers/subnav", active_nav: :users, customer_id: params[:customer_id]

%table
  %tr
    %th{ width: "50%" } Email
    %th Last sign in
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.last_sign_in_at? ? l(user.last_sign_in_at, format: :long) : ""
      %td= link_to "Remove", companies_customer_user_path(@customer, user), method: :delete, data: { confirm: "Are you sure you want to revoke this user's access?" }

.pagination
  = paginate @users
