%h1= @view_model.carrier_product.name

- if @view_model.parsing_errors.count > 0
  %h2 Errors
  %table.price_document_parsing_errors
    %tr
      %th Severity
      %th Description
      %th Consequence
      %th Cell

    - @view_model.parsing_errors.each do |error|
      %tr{class: (error.severity == PriceDocumentV1::ParseError::Severity::WARNING ? "warning" : "fatal")}
        %td= error.severity.capitalize
        %td= error.description
        %td= error.consequence
        %td= @view_model.format_cell(indices: error.indices)

  %ul.actions
    %li
      = link_to("Back", companies_carrier_product_prices_path)
