- content_for :secondary_nav do
  %ul.user_actions
    %li= "Company: #{current_customer.name}"
    %li= link_to("Edit Profile", customers_user_profile_path)
    %li= link_to("Sign out", destroy_user_session_path(current_customer_identifier: nil), method: :delete)

- content_for :primary_nav do
  = render "shared/admin_navigation"

= render template: "layouts/application"
