!!!  5 utf-8
%html
  %head
    - if @company
      %title= @company.name
    - else
      %title= "CargoFlux"
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=Edge' }/
    %meta{ 'name' => 'viewport', :content => 'width=device-width, initial-scale=1.0' }/
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Maven+Pro:400,700"
    = stylesheet_link_tag "admin"
    = stylesheet_link_tag "devise"
    :javascript
      var cargoflux = new function() {};
    = javascript_include_tag "admin"
    = csrf_meta_tags
  %body{ :id => "body_#{@body_class}" }
    / Page begin
    #page
      #page_inner
        
        / Header begin
        #header
          #header_inner
            
            #logo
              %h1
                - if @company
                  = link_to(@company.name, admin_root_path)
                - else
                  = link_to("CargoFlux", admin_root_path)

            - if content_for?(:secondary_nav)
              #secondary_nav
                #secondary_nav_inner
                  = content_for(:secondary_nav)
        / Header end
        
        / Body begin
        #body
          #body_inner
            - if @company && @company.asset_logo
              #company_logo
                = image_tag(@company.asset_logo.attachment.url)
            = render 'shared/flash'
            = yield
        / Body end
        
    / Page end
    
    / Footer begin
    #footer
      #footer_inner
        %p= "Copyright © 2013 CargoFlux"
    / Footer end
